
# =========================
# kube-prometheus-stack (alias: kps)
# =========================
kps:
  grafana:
    adminUser: admin
    adminPassword: "grafana1234!"

    service:
      type: NodePort
      nodePort: 32000

    sidecar:
      datasources:
        enabled: true
        label: grafana_datasource
      dashboards:
        enabled: true
        label: grafana_dashboard
        labelValue: "1"   # <-- 이거 반드시 있어야 CM 라벨 값("1") 매칭됨

  prometheus:
    service:
      type: NodePort
      nodePort: 32001

  alertmanager:
    service:
      type: NodePort
      nodePort: 32002


# =========================
# Loki (single binary, local filesystem)
# =========================
loki:
  deploymentMode: SingleBinary

  loki:
    auth_enabled: false

    commonConfig:
      replication_factor: 1

    schemaConfig:
      configs:
        - from: "2024-01-01"
          store: boltdb-shipper
          object_store: filesystem
          schema: v13
          index:
            prefix: loki_index_
            period: 24h

    storage:
      type: filesystem

    ruler:
      enable_api: false

  singleBinary:
    replicas: 1
    persistence:
      enabled: false

    extraVolumes:
      - name: loki-data
        emptyDir: {}

    extraVolumeMounts:
      - name: loki-data
        mountPath: /var/loki

  read:
    enabled: false
  write:
    enabled: false
  backend:
    enabled: false

  lokiCanary:
    enabled: false
  gateway:
    enabled: false

  monitoring:
    selfMonitoring:
      enabled: false

  test:
    enabled: false
